/*----------------------------GENERAL SETTINGS-----------------------*/
*{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 100vw;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 768px) {
  .desktop{
    display: block !important;
  }

  .mobile{
    display: none !important;
  }
}

@media (max-width: 767px) {
  .desktop{
    display: none !important;
  }

  .mobile{
    display: block !important;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*---------------------------END----------------------------------*/

/*-------------------------TOOLBAR------------------------------------*/
#toolbar {
  width: 100vw;
  max-height: 22vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.top-bar-wrapper {
  background-color: #272a31;
  width: 100%;
  max-height: 7vh;
  min-height: 24px;
  display: flex;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.top-bar {
  display: flex;
  min-width: fit-content;
  max-width: 30vw;
  margin-right: 10vw;
  align-items: center;
  height: fit-content;
  align-items: center;
}

.top-bar a li {
  color: #fff;
  margin-right: 2vw;
  margin-left: 2vw;
  display: flex;
  align-items: center;
}

.bot-bar-wrapper {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 15vh;
  min-height: 92px;
}

.bot-bar {
  display: flex;
  margin-right: 15vw;
  height: fit-content;
}

.bot-bar-logo {
  margin-left: 15vw;
}

.bot-bar-option {
  margin-right: 2vw;
  margin-left: 2vw;
  color: #272a31;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.bot-bar-campaign {
  margin-left: 3.5vw;
  color: #272a31;
  font-size: 16px;
  border-color: #ec5242;
  border-style: solid;
  padding: 5px;
  display: flex;
  align-items: center;
}
/*---------------------------------END----------------------------------*/

/*-----------------------Main Home---------------------------------*/
#home {
  background: url(images/mobile-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  #home {
    display: flex;
    justify-content: center;
  }
}

.home-wrapper {
  padding: 12px;
  display: flex;
  max-width: 100vw;
  height: fit-content;
  flex-direction: column;
}

@media (min-width: 768px) {
  .home-wrapper {
    width: 50vw;
  }
}

.hamburguer {
  width: 36px;
  height: 36px;
  display: flex;
  gap: 7px;
}

.bar {
  height: 8px;
  width: 100%;
  background-color: #272a31;
  margin: 6px 0;
}

.main-greeting {
  margin-top: 10vh;
  font-size: 12px;
  color: #ec5242;
}

.main-title {
  margin-top: 3px;
  font-size: 16px;
  background: url(images/text-bg.jpg);
  color: transparent;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-description {
  margin-top: 5vh;
  font-size: 14px;
  border-color: #fff;
  border-width: 4px;
  border-style: solid;
  padding: 6px;
}

.main-info {
  margin-top: 5vh;
  font-size: 18px;
}

.second-info {
  margin-top: 3px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .main-greeting {
    font-size: 16px;
  }
  .main-title {
    font-size: 20px;
  }
  .main-description {
    font-size: 18px;
  }
  .main-info {
    font-size: 20px;
  }
  .second-info {
    font-size: 16px;
  }
}

/*----------------------------END----------------------------------*/

/*---------------------------MAIN PROGRAM--------------------------*/
#program {
  background: url(images/pattern.png);
  background-color: #272a31;
  background-repeat: repeat;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: auto;
}

.program-wrapper {
  height: fit-content;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.program-title {
  color: #fff;
}

.program-line {
  height: 2px;
  width: 40px;
  background-color: #ec5242;
  margin-top: 15px;
  margin-bottom: 20px;
}

.program-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .program-list {
    flex-direction: row;
  }
}

.program-element {
  display: flex;
  align-items: center;
  background-color: #ffffff26;
  margin-bottom: 20px;
  padding: 15px;
}

@media (min-width: 768px) {
  .program-element {
    flex-direction: column;
    gap: 20px;
    margin-right: 5px;
    width: 10vw;
  }
}

.program-element img {
  width: 48px;
  margin-right: 5vw;
}

.program-element h3 {
  color: #ec5242;
  margin-right: 5vw;
}

.program-element p {
  color: #fff;
}

@media (min-width: 768px) {
  .program-element img,
  .program-element h3,
  .program-element p {
    margin-right: 0;
    text-align: center;
  }
}

.program-button {
  width: fit-content;
  padding: 20px;
  min-height: 50px;
  max-height: fit-content;
  background-color: #ec5242;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-program {
  color: #fff;
  text-decoration: underline;
  font-size: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*------------------------------END--------------------------------*/

/*-----------------------------------FOOTER----------------------------*/

#footer {
  width: 100vw;
}

.top-footer {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  filter: grayscale(0.85);
  opacity: 0.85;
}

.top-footer h2 {
  color: #fff;
}

.footer-partners {
  display: flex;
  align-items: center;
}

.footer-partners img {
  margin-right: 3vw;
}

.bot-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*------------------------------------END---------------------------------*/


/*------------------------------ABOUT PAGE----------------------------------------------------*/
/*-----------------------------ABOUT MAIN----------------------------------------*/
#about {
  width: 100vw;
  background: url(images/about_bg_01.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.about-wrapper {
  width: 90vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.about-hamburguer {
  width: 36px;
  height: 36px;
  display: flex;
  gap: 7px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about-greeting {
  color: #ec5242;
}

.about-title {
  color: #ec5242;
  font-size: 28px;
  margin-top: 20px;
  text-align: center;
}

.about-description {
  background-color: #fff;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #272a31;
  color: #272a31;
  text-align: center;
  margin-top: 30px;
}

.about-info {
  color: #272a31;
  text-align: center;
  margin-top: 30px;
}

.about-email {
  color: black;
  text-decoration: underline;
  margin-top: 10px;
  font-weight: 700;
}

/*--------------------------------END-------------------------------------------*/